

.App{
  width: 100%;
  min-height: 100vh;
  background-color: #FBD8A0;
  background-image: url(./img/derecha.svg), url(./img/izquierda.svg), url(./img/cachito.svg);
  background-position: right top, left top, bottom center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto 100%, auto 100%, 10vw;


}


.main-wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-top: 25px;
  width: 102px;
  height: auto;
}

h1{
  font-family: 'Squada One', cursive;
  font-size: clamp(22px, 4.8vw, 48px);
  text-align: center;
  margin: 0 0 28px 0;
  color: #242728;

}

span{
  margin-top: 5px;
  font-family: 'Bungee Shade', cursive;
  font-size: clamp(18px, 4.4vw, 40px);
  display: block;
  color: #242728;
}


.links{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

footer{
  padding-bottom: 30px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  flex-grow: 10;

  text-align: center;
  font-family: 'Bebas neue', cursive;
  font-size: clamp(18px, 2.5vw ,36px);
  letter-spacing: 0.12em;

}

.date{
  margin-bottom: 9px;
}